obspython.py
_obspython.pyd
__pycache__/**                                                                                                                                                                                                                                      
.vscode
.vscode/**
